html,
body {
  margin: 0px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
}


.App {
  text-align: center;
  margin: 10px;
}


.notes-wrapper {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: row;
  align-content: flex-start;
}

.note {
  margin: 5px;
  background-color: rgb(209, 203, 120);
  border: solid 0px;
  height: fit-content;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.08), 0px 3px 5px rgba(0, 0, 0, 0.04), 0px 2.5px 2px rgba(0, 0, 0, 0.02);

}

.note-header {
  padding: 5px;
  background-color: #00000010;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.input-header {
  width: 90%;
  background-color: transparent;
  border: 0px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.input-header[type=text]:focus-visible {
  outline: none;
}

.button-header {
  fill: #00000037;
  margin: 0 4px 0 10px;
}

.button-header:hover {
  fill: #00000069;
}

.note-content {
  padding: 2px;
  height: fit-content;
}

.text-content {
  width: 95%;
  min-width: 200px;
  min-height: 200px;
  background-color: transparent;
  margin: 0px;
  padding: 3px;
  border: 0px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
  outline: none;
}

/* scrollbar styling */
.text-content::-webkit-scrollbar {
  width: 1em;
  outline: none;
  border: 0px;
} 


.text-content::-webkit-scrollbar-track {
  background-color: none;
  cursor: pointer;
  
 } 
.text-content::-webkit-scrollbar-thumb {
    background-color: #0000001a; 
    border-radius: 7px;
    border: 0px;

  }

.text-content::-webkit-scrollbar-corner{
    /* background-color: none; 
    background: none; */
    background: transparent;
}

.text-content::-webkit-scrollbar-track-piece{
  border: 0px;
}


/* colors pack */
.color1 {
  background-color: #FFEA79;
}

.color2 {
  background-color: #FFBDAE;
}

.color3 {
  background-color: #93E396;
}

.color4 {
  background-color: #B1D0FF;
}

.color5 {
  background-color: #CED3DA;
}


.footer button {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.08), 0px 3px 5px rgba(0, 0, 0, 0.04), 0px 2.5px 2px rgba(0, 0, 0, 0.02);
  font-family: 'Open Sans', sans-serif;

}